/* Put any additional CSS here */
html {
  font-size: 16px;
}

body {
  background-color: rgb(90, 140, 207);
}

h1 {
  font-size: 2rem;
}

.header {
  background: white;
  display: inline-block;
  padding: 1rem 2rem;
  position: absolute;
  left: 4rem;
  top: 0;
}

.header h1 {
  margin: 0;
}

section {
  margin-top: 20vh;
}

.container {
  background: white;
  box-shadow: 1px 1px 1px rgb(89, 89, 89);
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

li {
  display: inline-block;
  background: rgb(87, 87, 87);
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

li.active {
  background: white;
  color: rgb(87, 87, 87);
}

.row.nav {
  width: 1170px;
  margin: 0 auto;
}

.row.add-activity {
  margin: 1.5rem;
  margin-left: 0;
  padding: 2rem;
}

.add-activity input, .add-activity select {
  width: 80%;
}

progress {
  height: 50px;
  width: 200px;
  -webkit-appearance: none;
  appearance: none;
}

.form-group {
  display: none;
}

.form-group.active {
  display: block;
}