<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/ext/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/wassup.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="widget">
            <h2>
              Friends List
            </h1>
            test
            <ul class="friends-list">
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <h1>
            Sups
          </h1>
          <div class="widget">
            <p> This is where the canvas will go</p>
          </div>
        </div>
      </div>
    </div>
    

    <script src="static/js/ext/underscore.js"></script>
    <script src="static/js/ext/jquery-1.11.2.min.js"></script>
    <script src="static/js/ext/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/wassup.js"></script>
  </body>
</html>
