/*=================================*/
/*Toolbar*/
/*=================================*/

.toolbar {
  margin-top: 2rem;
  width: 100%;
  height: 4rem;
}

.rating {
  float: right;
  margin-top: 0.5rem;
}

.toolbar .view-type {
  float: left;
  margin-left: 1rem;
  cursor: pointer;
}

.view-type li {
  display: inline-block;
  background: rgb(216, 91, 91);
  border-radius: 3.5rem;
  line-height: 3.5rem;
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
}

.view-type li:hover {
  background: rgb(213, 119, 119);
}

ul.rating > li {
    display: inline-block;
    width: 0;
    height: 0;
    border: 0.5rem solid rgba(255, 255, 255, 1);
    border-radius: 0.5rem;
    cursor: pointer;
}

ul.rating > li.selected {
  border-color: rgb(240, 97, 97);
}

/*=================================*/
/*Image Wrapper List*/
/*=================================*/

.image-wrapper-list {
  clear: both;
  margin: 0 0 2rem 2.5rem;
}

.image-wrapper-list ul.info {
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  margin-left: 1rem;
}

.image-wrapper-list img {
  vertical-align: middle;
}

.image-wrapper-list .rating {
  float: none;
}

/*=================================*/
/*Image Wrapper Grid*/
/*=================================*/

.image-wrapper-grid .rating {
  float: none;
  clear: both;
  text-align: center;
}

.image-wrapper-grid .name {
  margin-top: 1rem;
}

.image-wrapper-grid, .file-chooser-wrapper {
  width: 33.33%;
  float: left;
  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
}

.image-wrapper-grid img, .image-wrapper-list img, .files-input-visible {
  height: 15rem;
  width: 15rem;
  border: 0.3rem solid rgb(207, 207, 207);
  border-style: inset;
  border-radius: 15rem;
  cursor: pointer;
}

.image-wrapper-grid img:hover, .image-wrapper-list img:hover, .files-input-visible:hover {
  border-color: rgb(213, 119, 119);
}

/*=================================*/
/*File Input*/
/*=================================*/

.files-input-visible {
  border-style: dashed;
  margin: 0 auto;
  position: relative;
}

input[type='file'] {
  display: none;
}

.file-label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 1rem;
  width: 5rem;
}

/*=================================*/
/*Popup*/
/*=================================*/

.popup-content {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 500px;
  width: 500px;
  z-index: 1001;
}

.popup-wrapper {
  width: 100%;
  text-align: center;
}

.popup-wrapper img {
  width: 500px;
}

.popup-background {
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(37, 37, 37, 0.9);
  z-index: 1;
  position: absolute;
  top: 0;
  overflow: hidden;
  overflow-x: hidden;
}

/*=================================*/
/*Basic Element Styling*/
/*=================================*/

body {
  overflow-x: hidden;
  background: rgb(73, 73, 73);
  color: white;
  margin: 0;
}

a {
  color: white;
}

#app-container {
  max-width: 62.5rem;
  margin: 0 auto;
}

/*=================================*/
/*Dan's Framework
/*=================================*/

ul {
  margin: 0;
  padding: 0;
}

.container {
  padding-top: 2rem;
  max-width: 62.5rem;
  margin: 0 auto;
}

.container:after{
    clear: both;
    content: "";
    display: block;
}
